MONGODB_URI=mongodb+srv://universalempowerment17_db_user:SAtyam@cluster0.gzmzc4c.mongodb.net/
EMAIL_USER=satyamtiwari454obra@gmail.com
EMAIL_PASSWORD=hatv sggg haua apyk
NEXT_PUBLIC_APP_URL=http://localhost:3000
